<div class="form-div">
  <h1>Sign In</h1>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="sign-in-form">
    <mat-form-field>
      <mat-label>Enter your Username</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        formControlName="username"
        required
      />
      <mat-error
        *ngIf="
          signInForm.controls.username.touched &&
          signInForm.controls.username.invalid
        "
      >
        <span *ngIf="signInForm.controls.username.hasError('required')"
          >Username is required</span
        >
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide() ? 'password' : 'text'"
      />
      <div
        matIconButton
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon class="icon">{{
          hide() ? "visibility_off" : "visibility"
        }}</mat-icon>
      </div>
      <mat-error *ngIf="signInForm.controls.password.hasError('required')"
        >Password is required</mat-error
      >
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="signInForm.invalid || signInForm.untouched"
    >
      Sign In
    </button>
  </form>
</div>
